<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="English">
<head>
    <title>Lukespetitions</title>
</head>
<body>
<h1 style="text-align:center;">Lukespetitions</h1>
<ul style="list-style-type:none;">
    <li style="color: Tomato;"><a th:href="@{/create}">Create a Petition</a><br><br></li>

    <li style="color: DodgerBlue;"><a th:href="@{/viewAll}">View All Petitions</a><br><br></li>

    <li style="color: MediumSeaGreen;"><a th:href="@{/search}">Search for a Petition</a></li>
</ul>
</body>
</html>
